body {
  min-width: 630px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  cursor: pointer;
}

#left {
  width: 180px;
  padding: 0 10px;
  right: 240px;
  margin-left: -100%;
}

#right {
  width: 130px;
  padding: 0 10px;
  margin-right: -100%;
}

.background {
  background: black;
  background-blend-mode: darken;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  margin-top: 15px;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center-right;
}

.nav-list li {
  list-style: none;
  color: white;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: grey;
}

.rightnav {
  width: 70%;
  margin-left: 450px;
}
.rightnav li a {
  text-decoration: none;
  color: white;
}

.rightnav li {
  padding: 25px 20px;
}

h5 {
  text-align: center;
}

#center {
  padding: 20px 20px;
  width: 100%;
  justify-content: center;
  background: #fff;
}

#container {
  overflow: hidden;
  padding-left: 200px;
  padding-right: 190px;
}

#container .column {
  padding-bottom: 1001em;
  margin-bottom: -1000em;
  position: relative;
  float: left;
}

* html body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  line-height: 1.5em;
}

p {
  color: black;
}

#footer {
  font-size: small;
  padding: 0.2em;
  background: #0a0a0a;
}

#left {
  background: #fff;
}

#right {
  background: #fff;
}

#container .column {
  padding-top: 1em;
}

.card {
  max-width: 200px;
  max-height: 200px;
  margin: 25px;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.foot {
  font-size: 20px;
  position: relative;
  margin-top: 30px;
  margin-left: 80px;
  float: left;
}

#foot {
  position: relative;
  float: left;
  margin-left: 21%;
}

#foot ul a li {
  text-decoration: none;

  color: white;
}

#foot ul a li:hover {
  color: white;
  position: relative;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
