/* GLOBAL STYLES */

/* INDEX */

body {
  min-width: 630px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  cursor: pointer;
}

.background {
  background: black;
  background-blend-mode: darken;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  margin-top: 15px;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center-right;
}

.nav-list li {
  list-style: none;
  padding: 25px 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: grey;
}

.rightnav {
  width: 70%;
  text-align: right;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}

#container {
  padding-left: 200px;
  padding-right: 190px;
}

#container .column {
  position: relative;
  float: left;
}

#center {
  padding: 10px 20px;
  width: 100%;
}

#left {
  width: 180px;
  padding: 0 10px;
  right: 240px;
  margin-left: -100%;
}

#right {
  width: 130px;
  padding: 0 10px;
  margin-right: -100%;
}

#footer {
  clear: both;
}

#container {
  overflow: hidden;
}

#container .column {
  padding-bottom: 1001em;
  margin-bottom: -1000em;
}

* html body {
  overflow: hidden;
}

* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  line-height: 1.5em;
}

p {
  color: black;
}

#header {
  font-size: large;
  padding: 0.3em;
  background: #4d774e;
  text-align: center;
}

#footer {
  font-size: small;
  padding: 0.3em;
  background: #4d774e;
}

#left {
  background: #9dc88d;
}

#right {
  background: #9dc88d;
}

#center {
  background: #fff;
}

#container .column {
  padding-top: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 200px;
  margin: 25px;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 20px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#text {
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
}

#button {
  padding: 10px;
  width: 100px;
  color: white;
  background-color: lightblue;
  border: none;
}

#box {
  background-color: grey;
  margin: auto;
  width: 300px;
  padding: 20px;
}

/* LOGIN */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(219, 226, 226);
}

img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background: white;
  border: 1px solid;
  color: black;
}

/* SIGN UP */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 120%;
  background: #ffffff;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: black;
  background: white;
  text-align: center;
  border: 1px solid #0d0e0f;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

form {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #000000;
  background: white;
  border-radius: 0px 0px 10px 10px;
}

.input-ground {
  margin: 10px 0px 10px 0px;
}

.input-ground label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-ground input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn1 {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
}

